@import url('https://fonts.googleapis.com/css?family=Blinker:400,800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Blinker', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}